/* Palette:
#252D40 #181532 #3F2540 #352540
#352540    #23233B #643B65 #543B63
#4A5D85    #33304D    #814A83 #694A83
#7F91B5 #504E76 #B57EB5 #A07FB8
*/
$c1r1: #252D40;
$c2r1: #181532;
$c3r1: #3F2540;
$c4r1: #352540;
$c1r2: #352540;
$c2r2: #23233B;
$c3r2: #643B65;
$c4r2: #543B63;
$c1r3: #4A5D85;
$c2r3: #33304D;
$c3r3: #814A83;
$c4r3: #694A83;
$c1r4: #7F91B5;
$c2r4: #504E76;
$c3r4: #B57EB5;
$c4r4: #A07FB8;

$colour_main1: #50726D;
$colour_main2: #83BCB3;
$colour_main3: #B8E0DA;
$colour_main4: #709A94;

//$colour_main1_new: radial-gradient(ellipse farthest-corner at center top, #7F91B5, #33304D);
$colour_main1_new: radial-gradient(ellipse farthest-corner at center top, #64a3b5, #2e354d);
