@mixin form-styling {
	text-align: center;
	display: block;
	&__field {
		margin-top: 10px;
	    min-width: 400px;
		width: 70%;
		border: 1px solid #543b63;
		height: 50px;
		background: #F5F5F5;
		//width: 1000px;
		font-size: 1.5em;
		/*color:#777;*/
		padding: 5px 10px 5px 10px;
		outline: none;
    }

    &__button {
	// border: 1px solid #543b63;
	// font-size: 1.5em;
	padding: 10px 70px;
	box-shadow: 0 5px 0 rgba(0,0,0,.5);
	&:active {
		box-shadow: 0 0 20px rgba(0,0,0,.8);
	}
	background: #a07fb8;
	/*color: #543b63;*/
	color: #352540;
	&:hover {
		background: #543b63;
		color: #a07fb8;
		transition: 1s;
	}
}
}