@import 'form';
@import 'palette';
.login-form {
	@include form-styling;
}
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;  
  background: radial-gradient(ellipse farthest-corner at center top, #4a5d85 -50%, #643b65 150%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;  
}
