@import 'modal';
@import 'signup';
@import 'login';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 450px;
	height: 100vh;
	margin: 0;  
	//background: radial-gradient(ellipse farthest-corner at center top, #4a5d85 -50%, #643b65 150%);
	background: radial-gradient(ellipse farthest-corner at center top, $colour_main1 -50%, $colour_main1 150%);

	color: #fff;
	//font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.menu {
	position: absolute;
}
