@import 'palette';
@import 'form';
@media screen and (min-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-columns: 30% auto 30%;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
	}
	.signup-block {
		background: $colour_main2; /*linear-gradient(to bottom, #814a83 0%, #181532 100%);*/
	 	grid-row: 3 / 7;
		grid-column: 2;
		text-align: center;
		border: 1px solid $colour_main1;
	}
}

@media (min-width: 800px) and (max-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-columns: 20% auto 20%;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
	}

	.signup-block {
		background: $colour_main2; /*linear-gradient(to bottom, #814a83 0%, #181532 100%);*/
	 	grid-row: 3 / 7;
		grid-column: 2;
		text-align: center;
		border: 1px solid $colour_main1;
	}
}

@media (max-width: 800px) {
	.wrapper {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
	}

	.signup-block {
		background: #252d40; /*linear-gradient(to bottom, #814a83 0%, #181532 100%);*/
	 	grid-row: 3 / 7;
		grid-column: 1;
		text-align: center;
		border: 1px solid $colour_main1;
	}
}

.signup-form {
	@include form-styling;
}

/*TODO: default button active/hover*/
