extends modal.pug
block styles
  link(type='text/css', rel='stylesheet', href='css/about.css')
block modal__body
  h1 Работа для Никиты...
  h1 только для Никиты...
  h1 и ни для кого кроме Никиты...
