doctype html
html
  head
    title
    link(type='text/css', rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    block styles
  body
    // Trigger/Open The Modal
    .menu
      -
        var page_names = ['signup', 'login', 'about', 'leaders']
      each page in page_names
        button.menu__modal-trigger(modal-trigger=page) #{page}
    // The Modal
    .modal
      // Modal content
      .modal__content
        //.modal__header
        //  span.modal-close ×
        //  block modal__header
        //    h2 Modal Header
        //.modal__body
        //   block modal__body
        //.modal__footer
        //  block modal__footer
        //    h3 Modal Footer
        .modal__header
          span.modal-close
          block modal__header
            h2 Rhythm Blast
        .modal__body
          block modal__body
        .modal__footer
          block modal__footer
            //h3 Modal Footer

        //.modal__header
        //  block modal__header
        //    h2 Rhythm Blast
        //.modal__body
        //  block modal__body
        //.modal__footer
        //  block modal__footer
        //    h2 Copyright glitchless (c) 2017

      script(type='text/javascript', src='js/utility.js')
      script(type='text/javascript', src='js/dynamic.js')