doctype html
html
  head
    title
    link(type='text/css', rel='stylesheet', href='css/main.css')
    block styles
  body
    // Trigger/Open The Modal
    .menu
      -
        var page_names = ['signup', 'login', 'about', 'leaders']
      each page in page_names
        button.menu__modal-trigger(modal-trigger=page) #{page}
    // The Modal
    .modal
      // Modal content
      .modal__content
        .modal__header
          span.modal-close ×
          block modal__header
            h2 Modal Header
        .modal__body
           block modal__body
        .modal__footer
          block modal__footer
            h3 Modal Footer
      script(type='text/javascript', src='js/modal.js')