doctype html
html
  head
    title
    link(type='text/css', rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    block styles
  body
    .menu
      .centered.bumper
        img(src='images/rhythm_blast_v1a.png')
      -
        var pages = [{trigger: 'signup', label: 'Sign Up'}, {trigger: 'login', label: 'Login'},
                          {trigger: 'about', label: 'About'}, {trigger:'leaders', label: 'Leaders'}]
      .centered
        each page in pages
          button.menu__modal-trigger(modal-trigger=page['trigger']).btn.fixed #{page['label']}
    .modal
      .modal__content
        .modal__header
          span.modal-close
          block modal__header
        .modal__body
          block modal__body
        .modal__footer
          block modal__footer

    script(type='text/javascript', src='js/utility.js')
    script(type='text/javascript', src='js/dynamic.js')
