extends modal.pug
block modal__header
  h2 Leaders
block modal__body
  -
    var entries = [{position: '1', nickname: 'Ansile', score:'1337'},
                   {position: '2', nickname: 'LionZXY', score:'kotlin.js'},
                   {position: '3', nickname: 'reo7sp', score: '420'},
                   {position: '4', nickname: 'StealthTech', score: '0'}]
  .leaders_header
    .leaders_header__col-side Position
    .leaders_header__col-main Nickname
    .leaders_header__col-side Rhythm
  each entry in entries
    .leaders_entry
      .leaders_entry__col-side #{entry.position}
      .leaders_entry__col-main #{entry.nickname}
      .leaders_entry__col-side #{entry.score}
