block modal__body
  form.login-form(action='')
    h1 Sign In
    - 
      var input_fields = [{type:'text', name:'answer', placeholder:'Nickname'}, 
                          {type:'password', name:'password', placeholder:'Password'}];
    each field in input_fields
      input.login-form__field(type=field['type'], name=field['name'], placeholder=field['placeholder'])
    p
      input(type='submit')
    p
      | Don't have an account? 
      a(href='./signup.html') Sign up