.modal
  .modal__content
    .modal__header
      block modal__header
        h2 Generic Header
      span.modal-close ×
    .modal__body
       block modal__body
    .modal__footer
      block modal__footer
        h3 Generic Footer
