doctype html
html
  head
    title
    link(type='text/css', rel='stylesheet', href='css/modal.css')
    block styles
  body
    // Trigger/Open The Modal
    button.modal-open Open Modal
    // The Modal
    .modal
      // Modal content
      .modal__content
        .modal__header
          span.modal-close ×
          block modal__header
            h2 Modal Header
        .modal__body
           block modal__body
        .modal__footer
          block modal__footer
            h3 Modal Footer
      script(type='text/javascript', src='js/modal.js')