@media screen and (min-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-columns: 30% auto 30%;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
	}
	.signup-block {
		background: #252d40; /*linear-gradient(to bottom, #814a83 0%, #181532 100%);*/
	 	grid-row: 3 / 7;
		grid-column: 2;
		/*background-color: green;*/
		text-align: center;
		border: 1px solid #b57eb5;
		/*-webkit-border-radius: 20px;*/
		/*border-radius: 20px;*/
	}
}
@media (min-width: 800px) and (max-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-columns: 20% auto 20%;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
	}
	.signup-block {
		background: #252d40; /*linear-gradient(to bottom, #814a83 0%, #181532 100%);*/
	 	grid-row: 3 / 7;
		grid-column: 2;
		/*background-color: green;*/
		text-align: center;
		border: 1px solid #b57eb5;
		/*-webkit-border-radius: 20px;*/
		/*border-radius: 20px;*/
}
}
@media (max-width: 800px) {
	.wrapper {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 10px;
		grid-auto-rows: minmax(100px, auto);
	}
	.signup-block {
		background: #252d40; /*linear-gradient(to bottom, #814a83 0%, #181532 100%);*/
	 	grid-row: 3 / 7;
		grid-column: 1s;
		/*background-color: green;*/
		text-align: center;
		border: 1px solid #b57eb5;
		/*-webkit-border-radius: 20px;*/
		/*border-radius: 20px;*/
	}
}


body {
  min-height: 450px;
  height: 100vh;
  margin: 0;  
  background: radial-gradient(ellipse farthest-corner at center top, #4a5d85 -50%, #643b65 150%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;  
}


.signup-form {
	display:block;
	/*margin: 20px auto;*/
	/*max-width: 350px;*/
	/*padding: 30px;*/
}

.signup-form p label {
	clear:both;
	display:block;
	font-size:20px;
	color:#999;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
}

input {
	/*border: 0;*/
	border: 1px solid #543b63;
	height: 50px;
	background: #F5F5F5;
	/*width: 100%;*/
	font-size: 1.5em;
	/*color:#777;*/
	padding: 5px 10px 5px 10px;
	outline: none;
}

.green-btn {
	/*background: #7f91b5;*/
	background: #a07fb8;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	/*color: #181532;*/
	color: #543b63;
	width: 30% !important;
	height: 50% !important;
	border: 0 !important;
	padding: 10px 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 10px auto;
	display: block;
}

.button {
	padding: 10px 70px;
	box-shadow: 0 5px 0 rgba(0,0,0,.5);
}

/*TODO: default button active/hover*/

.button:active {
	box-shadow: 0 0 20px rgba(0,0,0,.8);
}

.button.purple {
	background: #a07fb8;
	/*color: #543b63;*/
	color: #352540;
}

.button.purple:hover {
	background: #543b63;
	color: #a07fb8;
	transition: 1s;
}
