include ../../abstractViews/modal/template

+modal('Initializing game')
    .bumber-top &nbsp;
    .lobby
        .lobby__initial
            .lobby__initial__button Invite a friend
            .lobby__initial__button Random matchmaking
        .lobby__loader
        .lobby__waitinglabel Waiting...
        .lobby__progresstext Wait for player2 to connect...
        .lobby__linktext(alt='Click to copy') https://glitchless.ru/
    .bumber-bottom &nbsp;

    .modal-control.modal-control__wrapper.hidden
        a.modal_closer.modal-control__button(href='/') Return
