include ../../abstractViews/modal/template

+modal('Initializing game')
    .bumber-top &nbsp;

    .lobby__waitinglabel Waiting...
    .lobby__progresstext Wait resource loading

    .bumber-bottom &nbsp;

    .modal-control.modal-control__wrapper.hidden
        a.modal_closer.modal-control__button(href='/') Return
