@import '../../../utils/sass/constants';
@import '../../abstractViews/modal/style';

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-shader {
    transition: .5s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(black, .5);

    @media only screen and (max-device-width: $breakpoint-tablet) {
        display: none;
    }
}

.menu {
    text-align: center;
}

@media only screen and (max-device-width: $breakpoint-tablet) {
    .menu {
        &__item {
            background: rgba(255, 255, 255, .2);
            box-shadow: 3px 3px  rgba(0, 0, 0, .1);
            border-radius: 0 7px;
            padding: 15px;
            transition: .5s;

            &:hover {
                background: rgba(255, 255, 255, .4);
                box-shadow: 3px 3px  rgba(0, 0, 0, .1);
            }

            &:active {
                background: rgba(255, 255, 255, .1);
                box-shadow: none;
            }
        }
    }

    @media (orientation: portrait) {
        img.logo {
            //height: 25vh;
            width: 75vw;
            margin-top: 3vh;
            transition: .5s;

            &:hover {
                height: 27vh;
            }
        }

        .menu {
            position: absolute;
            font-size: 5vw;

            &__header {
                font-size: 7vw;
            }

            &__item-wrapper {
                padding: 2vw 15vw;
            }
        }
    }

    @media (orientation: landscape) {
        img.logo {
            width: 40vw;
            margin-bottom: 3vh;
            transition: .5s;

            &:hover {
                height: 27vh;
            }
        }

        .menu {
            &__header {
                font-size: 2vw;
            }

            &__item {
                padding: 2vw;
                font-size: 2vw;
            }

            &__item-wrapper {
                margin-bottom: 2vw;
            }

            &__container {
                padding: 1vw;
                //background: rgba(red, .3);
                column-count: 3;
            }
        }
    }
}

@media screen and (min-device-width: $breakpoint-tablet) {
    img.logo {
        height: 150px;
        margin-bottom: 15px;
    }

    .menu {
        &__header {
            display: none;
        }

        &__container { }

        &__item-wrapper {
            padding: 10px 0;
        }

        &__item {
            background: rgba(255, 255, 255, .2);
            box-shadow: 3px 3px  rgba(0, 0, 0, .1);
            border-radius: 0 7px;
            padding: 15px;
            transition: .5s;

            &:hover {
                background: rgba(255, 255, 255, .4);
                box-shadow: 3px 3px  rgba(0, 0, 0, .1);
            }

            &:active {
                background: rgba(255, 255, 255, .1);
                box-shadow: none;
            }
        }
    }
}

.modal-trigger {
    display: block;
    color: #fff;
    text-decoration: none;
}
