.restart-button {
    background: rgba(255, 255, 255, .2);
    box-shadow: 3px 3px  rgba(0, 0, 0, .1);
    border-radius: 0 7px;
    border: none;
    min-width: 150px;
    transition: .5s;

    color: white;
    text-decoration: none;

    &:hover {
        background: rgba(255, 255, 255, .4);
        box-shadow: 3px 3px  rgba(0, 0, 0, .1);
    }

    &:active {
        background: rgba(255, 255, 255, .1);
        box-shadow: none;
    }
}

.game-background {
    background-repeat: no-repeat;
}

.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}