include ../../abstractViews/modal/index

+modal('About Rhythm Blast', 'Copyright © glitchless 2017')
    .about-content
        h3 Next Generation Arcanoid
            p
                | Did you ever mix intense gameplay, lasers, mlg airhorns and fun?
                | That's what Rhythm Blast about.
            b What's that though?
            p
                | Alright. Rules are pretty simple:
        ol
            li You start the game by pressing START
            li You scroll and reflect lasers
            li You try to rock'n'roll in 360 NoScope Arena™
            li You _blast_ enemy base with mirrors, heat and stuff
            li ???
            li PROFIT
        p
            b Rhythm Blast™ is developed by glitchless team in 2017.
        p
            ul
                li Volynov Mikhail
                li Kulikov Nikita
                li Golubev Yury
                li Morozenkov Oleg
        p
            | Александр Цветков топовый ментор!
        p
            | Спасибо, Технопарк, за возможность проявить себя!

    .modal-control__wrapper
        .modal-control
            a.modal_closer.modal-control__button(href='/') Return
