.menu
      button.menu__modal-trigger--fixed-width.menu__modal-trigger(modal-trigger=page['trigger']) #{page['label']}
    each page in pages
                      {trigger: 'about', label: 'About'}, {trigger:'leaders', label: 'Leaders'}]
      var pages = [{trigger: 'signup', label: 'Sign Up'}, {trigger: 'login', label: 'Login'},
    -
  .menu__buttons.menu__buttons--centered
    img.menu__bumper__img(src='images/rhythm_blast_v1a.png')
  .menu__bumper.menu__bumper--centered