.menu
  .menu__bumper.menu__bumper--centered
    img.menu__bumper__img(src='images/rhythm_blast_v1a.png')
  span.menu__user.menu__user--centered Hello,
    span.menu__user__name.menu__user__name--centered Unknown User
  .menu__buttons.menu__buttons--centered
    -
      var pages = [{trigger: 'signup', label: 'Sign Up'}, {trigger: 'login', label: 'Login'},
                      {trigger: 'about', label: 'About'}, {trigger:'leaders', label: 'Leaders'}]
    each page in pages
      button.menu__modal-trigger--fixed-width.menu__modal-trigger(modal-trigger=page['trigger']) #{page['label']}
