@import "login/style";
@import "signup/style";
@import "about/style";
@import "leaders/style";
@import "menu/style";
@import "_modal/style";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background: $colour_main1_new;

    color: #fff;
    font-family: 'Rubik', sans-serif, 'Roboto', sans-serif;
}

@media only screen and (max-device-width: $breakpoint-tablet) {
    .bumper-top {
        margin-top: 6vw;
    }

    .bumper-top-bottom {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }
}

.hidden {
    display: none;
}