@import "login/style";
@import "signup/style";
@import "about/style";
@import "leaders/style";
@import "game/style";
@import "menu/style";
@import "_modal/style";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse farthest-corner at center top, $colour_main1 -50%, $colour_main1 150%);

    color: #fff;
    font-family: 'Roboto', sans-serif;
}