<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <meta content='width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript" src="/app.js" defer></script>
        <title>Glitchless</title>
    </head>

    <body>
        <noscript>Enable JavaScript to view game</noscript>
    </body>
</html>
