.leaders {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: -2px -16px;

        background: rgba($colour_main2, .5);

        &__col-side {
            width: 100px;
            background: rgba($colour_main2, .6);
            padding: 12px 5px;
        }

        &__col-main { }
    }

    &__entry {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        margin: 0 -16px -2px -16px;

        background: rgba($colour_main2, .2);

        &__col-side {
            padding: 12px 5px;
            width: 100px;
            background: rgba($colour_main2, .3);
        }

        &__col-main { }
    }
}
