mixin modal(title, footer)
    .modal
        .modal__content
            .modal__header
                span.modal-close ×
                h2 #{title}

            .modal__body
                block
            .modal__footer
                h3 #{footer}
