mixin modal(title, footer, fullscreen)
    .modal-wrapper
        .modal
            if !fullscreen
                .modal__content
                    .modal__header
                        h2 #{title}

                    .modal__body
                        block
                    if footer
                        .modal__footer
                            h3 #{footer}
            else
                .modal__content.modal__content--fullscreen
                    .modal__header
                        h2 #{title}

                    .modal__body.modal__body--fullscreen
                        block

                    if footer
                        .modal__footer.modal__footer--fullscreen
                            h3 #{footer}
